<section id='search-section'>
    <label for="search">Pesquisa</label>
    <input type="text" name="search-local" id="search" placeholder="Texto para pesquisa"/>
    <button id="search-btn">submit</button>
</section>
<hr/>
<section id="news-section">
    <div>
        <span> <span id="local-str"></span> news</span>
        <span>powered by New york times</span>
    </div>
    <div id="list-news">
    </div>
</section>
<hr id='line-two-horizontal' />
<section id="climate-news-section">
    <div>
        <span>Reed climate article</span>
        <span>powered by New york times</span>
    </div>
    <div id="list-reed">
        
    </div>
</section>
