<section id="info-card">
    <div>
        <p><b>Name</b>: <span id="info-name"></span></p>
        <p><b>Latitude</b>: <span id="info-lat"></span></p>
        <p><b>Longitude</b>: <span id="info-long"></span></p>
        <p><b>Humidity</b>: <span id="info-humidity"></span></p>
        <p><b>Cloud cover</b>: <span id="info-cloudcover"></span></p>
        <p><b>UV level</b>: <span id="info-uvlevel"></span></p>
        <p><b>Wind speed</b>: <span id="info-windspeed"></span></p>
        <p><b>Wind degree</b>: <span id="info-winddegree"></span></p>
        <p><b>Wind direction</b>: <span id="info-winddirection"></span></p>
    </div>
    <div id="map"></div>
</section>