<div id="weather-card">
    <div id="left-blck">
        <div>
            <p class="font-type-one" id="place-name"></p>
            <p class="font-type-two" id="last-observation"></p>
            <p class="font-type-two" id="description-weather"></p>
        </div>
        <div>
            <p class="font-type-three">lat: <span id="latitude-local"></span> lon: <span id="longitude-local"></span></p>
            <p class="font-type-two" id="actual-time"></p>
        </div>
    </div>
    <div id="right-blck">
        <div>
            <img id="weather-icon" src=""/>
            <p id="main-temperature-card"> <span>°C</span></p>
        </div>
        <div>
            <p id="secondary-temperature-card">feelslike: <span id="feelslike-temperature"></span>°C</p>
            <p id="precipitation-card">Precipitation: <span id="precip"></span></p>
            <p id="wind-card">wind: <span id="wind-stuff"></span></p>
        </div>
    </div>
</div>